* {
    margin: 0;
    padding: 0;
} 
.main{
    width: 100%;
    height: 100vh;
    background: #004980;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue_block{
    width: 480px;
    height: 459px;
    background: #C2F5FF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@font-face {
	font-family: 'StratosSkyeng Medium'; 
	src: local('StratosSkyeng Medium'),
		url(./fonts/statosskyeng-v1.001/Desktop\ fonts/stratosskyeng-medium.otf); 
}
.blue_block_head{
    width: 208px;
    height: 96px;
}
.blue_block_head_h1 {
	font-family: 'StratosSkyeng Medium';
	font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #004980;
}
.blue_block_items{
    display: flex;
    gap: 25px;
    margin-top: 48px;
}
.blue_block_items_all{
    width: 98px;
    height: 98px;
    background: #FFFFFF;
    border-radius: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0080C1;
    justify-content: center;
}
.button{
    width: 246px;
    height: 50px;
    background: #7AC100;
    border-radius: 12px;
    border-style: none;
    margin-top: 67px;
    font-family: 'StratosSkyeng Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.cards__item {
    margin: 1% 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .cards__item--turned {
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  .form__active {
    background-color: #7AC100;
  }
